{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <header class="jumbotron jumbotron-fluid text-white text-center position-relative">
        <h1 class="display-4">Register your team</h1>
    </header>
    <main class="container" style="margin-top: 50px">
    <div>
        <form method="post" action="{% url 'team_register' %}" style="font-size: 25px"> {#TODO: add form#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
            <button type="submit" class="btn btn-primary btn-lg oval-button" style="margin-top: 25px; margin-bottom: 25px">REGISTER TEAM</button>
        </form>
    </div>
    </main>
{% endblock %}
