postgresql
*.env
*.pyc
todo.txt
bfg-1.14.0.jar
media/article_images/r9.jpg
media/article_images/resize_smg.jpg
media/article_images/smgcl.jpg
media/article_images/uefa-champions-league-star-bowl-rlsrfh81jsb88ed1_1.jpg
media/article_images/uefa-champions-league-star-bowl-rlsrfh81jsb88ed1_1_xlaXNsX.jpg
media/player_pictures/14058f4741356dcc.jpeg
media/player_pictures/14058f4741356dcc_6nz22q5.jpeg
media/player_pictures/14058f4741356dcc_HLV32hI.jpeg
media/player_pictures/14058f4741356dcc_jHjAEqJ.jpeg
media/player_pictures/14058f4741356dcc_yhxhtmg.jpeg
media/player_pictures/14058f4741356dcc_YIpZtG4.jpeg
media/player_pictures/2021-06-28T220439Z_2107545029_UP1EH6S1PBPB2_RTRMADP_3_SOCCER-EURO-FRA-SW_Bqw57Q7.jpg
media/player_pictures/2021-06-28T220439Z_2107545029_UP1EH6S1PBPB2_RTRMADP_3_SOCCER-EURO-FRA-SW_nQDMQN0.jpg
media/player_pictures/2021-06-28T220439Z_2107545029_UP1EH6S1PBPB2_RTRMADP_3_SOCCER-EURO-FRA-SW_ovpn5jR.jpg
media/player_pictures/2021-06-28T220439Z_2107545029_UP1EH6S1PBPB2_RTRMADP_3_SOCCER-EURO-FRA-SWI-REPORT.jpg
media/player_pictures/58069285_804.jpg
media/player_pictures/Cristiano_Ronaldo_WC2022_-_01_cropped.jpg
media/player_pictures/Cristiano_Ronaldo_WC2022_-_01_cropped_2Iogl4A.jpg
media/player_pictures/Cristiano_Ronaldo_WC2022_-_01_cropped_5ROzcLF.jpg
media/player_pictures/download.jpg
media/player_pictures/download_2t3B9ZF.jpg
media/player_pictures/download_4jj23ow.jpg
media/player_pictures/download_FHsOCzj.jpg
media/player_pictures/download_VYDhenB.jpg
media/player_pictures/fed.png
media/player_pictures/IMG_PixelCam_Plus_20220829_120432.jpg
media/player_pictures/lionel-messi_imago1019567000h.jpg
media/player_pictures/lionel-messi_imago1019567000h_3rHXQ7M.jpg
media/player_pictures/lionel-messi_imago1019567000h_4jkaPcg.jpg
media/player_pictures/lionel-messi_imago1019567000h_rtjHFWn.jpg
media/player_pictures/Musiala-0c07b42.jpg
media/player_pictures/Musiala-0c07b42_KgsY3uX.jpg
media/player_pictures/r9.jpg
media/player_pictures/smg-logo.png
media/profile_pictures/Cristiano_Ronaldo_WC2022_-_01_cropped.jpg
media/profile_pictures/download.jpg
media/article_images/58069285_804.jpg
media/article_images/AntonioSMG_425.JPG
media/article_images/BOBO_profile.jpg
media/article_images/download.jpg
media/article_images/lionel-messi_imago1019567000h.jpg
