{% load static %}
<style>
    a {
        color: #0dcaf0;
    }
</style>
{% for match in live_matches %}
    {% if match.status == 'live' %}
        <script src="{% static "js/redDot.js" %}"></script>
        <h1 style="text-align: center; color: red"><span id="live-dot" style="color: red; font-size: 50px;">&bull;</span>Live</h1>
                <div class="table-responsive">
                    <table class="table table-hover table-borderless" style="font-size: larger">
                        <tbody>
                                    <tr>
                                        <td>
                                            <button class="collapsible" style="text-align: center; font-size: larger" data-match-id="{{ match.pk }}">
                                                 <a href="{% url 'players_from_team' pk=match.team1.pk %}">{{ match.team1 }}</a> vs.
                                <a href="{% url 'players_from_team' pk=match.team2.pk %}">{{ match.team2 }}</a>
                                                <br>{{ match.team1_goals }} - {{ match.team2_goals }}
                                            </button>
                                            <div class="content">
                                                {{ match.date|date:"d.m.Y" }}, {{ match.time|time:"H:i" }}
                                                <p style="margin-top: 15px"><strong>Goalscorers:</strong></p>
                                                <ul id="goalscorers-{{ match.pk }}" style="margin-bottom: 15px; color: #0dcaf0"></ul>
                                            </div>
                                        </td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
    {% endif %}
{% endfor %}