{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <h1 class="display-4" style="text-align: center">ABOUT US</h1>
    <div class="container">
        <h2 class="display-4">What is this website for?</h2>
        <p class="lead" style="font-size: x-large; text-align: left;">The SMG Champions League project aims to provide a comprehensive platform for football enthusiasts to stay updated with the latest news, view match details, check team standings about the tournament in the Sofia High School of Mathematics, and more. With the help of this website, students will stay easily informed, and the number of people interested in the tournament will rise.</p>

        <h2 class="display-4">Tournament rules</h2>
    </div>
<div class="container">
    <p class="lead" style="font-size: x-large; text-align: left;">
        <strong>Tournament Format:</strong>
        <br>
        - <strong>Team Size:</strong> Each participating team must have a roster of a minimum of 6 players and a maximum of 10 players, striking the right balance for competitive gameplay.

        <br><br>

        <strong>Draw</strong> - depending on the team performance last season, teams will be placed in one of the following four pots, where X depends on the number of teams participating in the tournament:
        <br>
        - <strong>Pot 1:</strong> The top X teams from the previous season.
        <br>
        - <strong>Pot 2:</strong> The teams ranked Xth to Yth from the previous season.
        <br>
        - <strong>Pot 3:</strong> The teams ranked Yth to Zth from the previous season.
        <br>
        - <strong>Pot 4:</strong> The last N teams.

        <br><br>

        <strong>Teams per grade:</strong>
        <br>
        - <strong>10-12th grade:</strong> 1 team per class (12A, 12G, 11V, 11D, 10B, 10A, etc.) + 1 transfer
        <br>
        - <strong>9th grade:</strong> Up to three classes can be combined into one team (9AGD, 9B, 9VE, etc.)
        <br>
        - <strong>8th grade:</strong> 1 team (sboren)

        <br><br>

        <strong>Match Structure:</strong>
        <br>
        - <strong>Halves:</strong> Matches are divided into two intense halves, each lasting 25 minutes, providing a total gameplay duration of 50 minutes.

        <br>
        - <strong>Substitutions:</strong> Each team can make unlimited substitutions during the match.

        <br><br>

        <strong>Group Stage:</strong>
        <br>
        - <strong>UEFA Champions League 2024/25 Format:</strong> The group stage adopts the format of the UEFA Champions League, where the traditional group stage will be replaced by a single-league format, where every team plays 3 matches against opponents decided by the draw.
        <br>
        - <strong>Scoring System:</strong> Teams earn three points for a victory, one point for a draw, and no points for a loss.

        <br><br>

        <strong>Advancement:</strong>
        <br>
        - <strong>Knockout Stages:</strong> Advancement to the knockout stages is determined by the points earned in the group stage matches. Specific tiebreaker procedures are applied in case of ties.

        <br><br>

        <strong>Fair Play and Conduct:</strong>
        <br>
        - Upholding the principles of fair play, player eligibility, and adherence to the league's code of conduct are fundamental for a successful and enjoyable tournament.

        <br><br>

        Best of luck to all participating teams in the SMG Champions League 2023/24!

    </p>



                <section id="user-guide">
            <h2 class="display-4">Step-by-Step User Guide</h2>
            <ol class="text-left" style="font-size: x-large">
                <li style="margin-bottom: 10px">
                    <strong>Create an Account:</strong> Click on the "Register" button and provide the required information to create your account.
                </li>

                <li style="margin-bottom: 10px">
                    <strong>Register Your Team:</strong> If you are a team captain, navigate to the "Register Team" page and complete the team registration process.
                </li>

                <li style="margin-bottom: 10px">
                    <strong>Add Players:</strong> Team captains can add players to their team by visiting the "Add Players" page. Provide the necessary details for each player.
                </li>

                <li style="margin-bottom: 10px">
                    <strong>Arrange a Match:</strong> Team captains can schedule matches by clicking on the "Arrange Match" button. Select the opponent, date, and time for the match.
                </li>

                <li style="margin-bottom: 10px">
                    <strong>Respond to Match Proposals:</strong> Players will receive notifications for match proposals. Respond to pending match proposals on the homepage.
                </li>

                <li style="margin-bottom: 10px">
                    <strong>Explore Latest News:</strong> Stay informed about the latest news and updates by checking the "Latest News" section on the homepage.
                </li>

                <li style="margin-bottom: 10px">
                    <strong>View Team Statistics:</strong> Visit the "Players from Team" page to see detailed statistics for each player on your team.
                </li>

                <li style="margin-bottom: 10px">
                    <strong>Read Articles:</strong> Explore in-depth articles about the SMG Champions League by clicking on the "Read More" links in the news section.
                </li>
            </ol>
        </section>

        <h2 class="display-4">Our Team</h2>
        <div id="teamCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" >
                    <img src="{% static 'images/bob.jpg' %}" class="d-block w-100 custom-carousel-image" alt="Team Member 1">
                    <div style="margin-top: 15px">
                        <h5>Boris Angelov, 12D</h5>
                        <p>Role: Web Developer</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/gog.jpg' %}" class="d-block w-100 custom-carousel-image" alt="Team Member 2">
                    <div style="margin-top: 15px">
                        <h5>Georgi Teodosiev, 12D</h5>
                        <p>Role: Budget Manager</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/koki.png' %}" class="d-block w-100 custom-carousel-image" alt="Team Member 2">
                    <div style="margin-top: 15px">
                        <h5>Kaloyan Petkov, 12E</h5>
                        <p>Role: Content Creator</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/rado.JPG' %}" class="d-block w-100 custom-carousel-image" alt="Team Member 2">
                    <div style="margin-top: 15px">
                        <h5>Radostin Zhelezchev, 12D</h5>
                        <p>Role: Coordinator</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/hris.JPG' %}" class="d-block w-100 custom-carousel-image" alt="Team Member 2">
                    <div style="margin-top: 15px">
                        <h5>Hristian Toshev, 12B</h5>
                        <p>Role: Social Media Manager</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/deni.JPG' %}" class="d-block w-100 custom-carousel-image" alt="Team Member 2">
                    <div style="margin-top: 15px">
                        <h5>Denimir Dimitrov, 12B</h5>
                        <p>Role: Newsman, Editor</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/kolyo.JPG' %}" class="d-block w-100 custom-carousel-image" alt="Team Member 2">
                    <div style="margin-top: 15px">
                        <h5>Nikola Dimoff, 12G</h5>
                        <p>Role: Coordinator</p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#teamCarousel" role="button" data-slide="prev"></a>
                <a class="carousel-control-next" href="#teamCarousel" role="button" data-slide="next"></a>
            </div>
        </div>
    </div>
    
{% endblock %}