{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <header class="jumbotron-homepage jumbotron-fluid bg-dark text-white text-center position-relative">
        <div class="container position-absolute top-0 start-50 translate-middle-x">
            <h1 class="display-4">Welcome to the SMG Champions League</h1>
            <p class="lead" style="font-size: 25px">Here you can find all the latest news and updates about the tournament.</p>
            <p style="font-size: 20px">Stay tuned for the upcoming 2023/2024 season!</p>
        </div>
        {% if not user.is_authenticated %}
        <div class="container position-absolute bottom-0 start-50 translate-middle-x mb-5">
            <a href="register/" class="btn btn-primary btn-lg oval-button">REGISTER NOW</a>
        </div>
        {% endif %}
    </header>
{% endblock %}
