.jumbotron-homepage {
    background-image: url("https://wallpaperaccess.com/full/1348845.png");
    background-size: cover;
    background-position: center;
    padding: 550px 0;
}

.container {
    max-width: 960px;
}

div {
    color: #FFFFFF;
    text-align: center;
}

.container {
  justify-content: center;
  align-items: center;
  /*height: 100vh; !* Adjust the height as needed *!*/
}

.oval-button:active {
    background-color: #01fae1;
    color: #0E1E5B;
}