
@font-face {
    font-family: "Champions Bold";
    font-display: swap;
    src: url(https://panenka.uefa.com/panenka/fonts/champions/champions-bold.woff2) format("woff2"),
         url(https://panenka.uefa.com/panenka/fonts/champions/champions-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Champions Bold Cyrillic";
    font-display: swap;
    src: url(https://panenka.uefa.com/panenka/fonts/champions/champions-bold-cy.woff2) format("woff2"),
         url(https://panenka.uefa.com/panenka/fonts/champions/champions-bold-cy.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

.form-group label {
  display: inline-block;
  width: 120px;
}

.form-group select {
  display: inline-block;
  width: auto;
  padding: 5px;
}

/* Custom styling for the dropdown */
.custom-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f8f9fa; /* Set the background color */
  font-size: 16px; /* Adjust the font size */
  width: 100%; /* Set the width to fill the container */
    padding: 15px 25px;
    border-radius: 50px;
}

/* Style the dropdown arrow */
.custom-dropdown::after {
  content: "\25BC"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the position as needed */
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the dropdown when it's open */
.custom-dropdown:focus {
  outline: none;
  box-shadow: 0 0 0 5px #01fae1; /* Set a box shadow or border color to indicate focus */
}

label[for="grade-select"] {
  display: inline-block;
  width: 120px; /* Adjust the width as needed */
}