.jumbotron {
    background-size: cover;
    background-position: center;
    padding: 550px 0;
}

.form {
    font-size: 20px;
    background-image: url("https://img.uefa.com/imgml/uefacom/ucl/2021/mdLive-bg_L.png");
    align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh; !* Adjust the height as needed *!*/
}