{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <header class="jumbotron jumbotron-fluid text-white text-center position-relative">
    <link rel="stylesheet" href="{% static 'css/captain_details.css' %}">
        <h1 class="display-4">Profile Details</h1>
    </header>
    <main class="container" style="margin-top: 30px; font-size: 25px; text-align: center">
    {% if user.profile_picture %}
    <div>
        <img src="{% get_media_prefix %}{{ user.profile_picture }}" alt="profile_pic" style="width: 200px; height: 200px; border-radius: 50%">
    </div>
    {% else %}
    <div>
        <img src="{% static 'images/default_profile_pic.png' %}" alt="profile_pic" style="width: 200px; height: 200px; border-radius: 50%">
    </div>
    {% endif %}
    <div>
        Username: {{user.username}}
    </div>
    <div>
        Name: {{user.get_full_name}}
    </div>
    <div>
        Grade and class: {{user.grade}}{{ user.paralelka }}
    </div>
    <div>
        Email: {{user.email}}
    </div>
    <div>
        <a href="{{user.facebook_link}}">Facebook</a>
    </div>
        {% if user.phone %}
    <div>
        Phone: {{user.phone}}
    </div>
        {% endif %}
        <div class="container">
        <a href="{% url 'players_edit' %}" class="btn btn-primary btn-lg oval-button">EDIT TEAM</a>
        </div>
    <div class="container">
        <a href="{% url 'players_extra_add' %}" class="btn btn-primary btn-lg oval-button">ADD PLAYERS</a>
    </div>
    <div class="container">
        <a href="{% url 'captain_edit' pk=user.pk %}" class="btn btn-primary btn-lg oval-button">EDIT PROFILE</a>
    </div>
    <div class="container">
        <a href="{% url 'captain_logout' %}" class="btn btn-primary btn-lg oval-button">LOG OUT</a>
    </div>
    </main>

{% endblock %}
