{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <main style="align-items: center; align-self: center; align-content: center; justify-content: center; text-align: center">
    <h1>Enter new password</h1>
    <p style="font-size: larger">Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="post" style="font-size: larger">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="oval-button">Change my password</button>
    </form>
    </main>
{% endblock %}