{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <main style="align-items: center; align-self: center; align-content: center; justify-content: center; text-align: center">
    <h1>Password reset sent</h1>
        <div class="container">
    <p style="font-size: larger">
We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
</p>
<p style="font-size: larger">
If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>
    </main>
{% endblock %}