{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/article/all_articles.css' %}" rel="stylesheet">
    <header class="jumbotron jumbotron-fluid text-white text-center position-relative">
        <h1 class="display-4">NEWS</h1>
    </header>
    <main class="container" style="margin-top: 20px">
        <div class="article-list">
            {% for article in articles %}
                <a href="{% url 'article' article.pk %}" class="article-link">
                    <div class="article">
                        <img src="{% get_media_prefix %}{{ article.image }}" alt="{{ article.title }}" class="article-image">
                        <h2 class="article-title" style="margin-top: 10px">{{ article.title }}</h2>
                        <p class="article-author" style="margin: 0">By {{ article.author }}</p>
                        <p class="article-date">{{ article.date }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
<div class="pagination justify-content-center mt-5">
    <ul class="pagination">
        {% if articles.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ articles.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">Page {{ articles.number }} of {{ articles.paginator.num_pages }}</span>
        </li>

        {% if articles.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ articles.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ articles.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>

    </main>
{% endblock %}